<% layout('/layouts/layout') -%>

<form action="/" method="POST">
  <label for="inputCode">Input your code:</label>
  <br>
  <textarea name="code" rows="8" cols="80">input code...</textarea>
  <br>
  <label for="inputCheck">Input your test:</label>
  <br>
  <textarea name="input" rows="8" cols="80"></textarea>
  <br>
  <button class="btn btn-lg btn-default btn-block" type="submit">Submit</button>
</form>
